.App {
  /* text-align: center; */
}

.anticon.anticon-dislike {
  color: red;
}

.anticon.anticon-smile {
  color: green;
}

footer.ant-layout-footer {
  display: flex;
  justify-content: space-between;
}

main.ant-layout-content {
  display: flex;
  background-color: white;
  height: 300px;
  max-height: 300px;
  overflow-y: scroll;
  /*grid-template-columns: auto auto auto;
  grid-template-rows: 200px;
  justify-items: center;
   height: 300px;
  
  background-color: white;*/
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow-y: scroll;
  /* align-items: flex-start; */
}

.categoryContainer {
  width: 30%;
  /* margin: 10px; */
  /* height: 50%; */
  height: 35px;
}
