.anticon.anticon-dislike {
  color: red;
}

.anticon.anticon-smile {
  color: green;
}

footer.ant-layout-footer {
  display: flex;
  justify-content: space-between;
}

.ant-btn.currentFilter,
.ant-btn.currentFilter:hover,
.ant-btn.currentFilter:focus {
  background-color: #1890ff;
  color: rgba(0, 0, 0, 0.85);
}

main.ant-layout-content {
  display: flex;
  background-color: #fff;
  height: 300px;
  max-height: 300px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-grow: 1;
}

.ant-tooltip .ant-tooltip-inner {
  color: rgba(0, 0, 0, 0.85);
}

.categoryContainer {
  height: 24px;
  margin-bottom: 26px;
}

.categoryContainer:hover {
  background-color: #f0f2f5;
  cursor: pointer;
}

@media (min-width: 768px) {
  main.ant-layout-content {
    flex-wrap: wrap;
  }
}
